@(searchForm: Form[Point])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Find a Starbucks 
}

@main(title, nav = "search") {
    
    @helper.form(action = routes.Search.submit) {
    
    	<script>
			var x=document.getElementById("latlon");
			function getLocation()
  			{
				x=document.getElementById("latlon");
  				if (navigator.geolocation)
    			{
    				navigator.geolocation.getCurrentPosition(showPosition);
    			}
  				else{
  					x.value="Geolocation is not supported by this browser.";}
  			}
			function showPosition(position)
  			{
  				x.value="" + position.coords.latitude +","+position.coords.longitude;
  			}
		</script>
        
        <fieldset>
            <legend>Starting point for search</legend>
            
            @inputText(
                searchForm("latlon"), 
                '_label -> "Lat,Lon", 
                '_help -> "Please enter lat,lon. For example 37.2163,-121.97496",
                '_error -> searchForm.globalError
            )
        </fieldset>
        
        
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Search">
            <a href="@routes.Application.index" class="btn">Cancel</a>
            <a class="btn" onclick="getLocation()">Use Current Location</a>
        </div>
        
    }
    
}