@(point: Point)

@main(Html("Starbucks search results"), nav = "search") {
        
    <h6>Starting location</h6>
    
    <p>
        <a href="https://maps.google.com/maps?q=@point.latlon" target="_blank">@point.latlon</a>
    </p>
    
           @if(point.results!= null && point.results.size > 0) {
            
            <h6>Results</h6>
            
            <ul>
                @point.results.map { result =>
                    <li><b>@result.name</b>
                    	<ul>
                    		<li><a href="https://maps.google.com/maps?saddr=@point.latlon&daddr=@result.location" target="_blank">@result.street, @result.city, @result.state, @result.zip</a></li>
                    		@if(result.phone != null && result.phone.length > 0) {
                    		<li>@result.phone</li>
                    		}
                    		<li>@("%.2f".format(result.distance)) miles away</li>
                    	</ul>
                    </li>
                }
            </ul>
            
        }
        @if(point.results== null || point.results.size <= 0) {
        	<h6>No Starbucks within 5 miles of that location.</h6>
        }
        
        <p>
        <a class="btn" href="@routes.Search.blank">Search again</a>
       </p>
    
}